.products .iko-col:hover {
  .product {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
}

.product {
  padding: 10px 15px 15px;
  transition: 300ms;
  border-radius: 4px;

  &__img {
    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    color: var(--black);
    margin-bottom: 10px;
  }

  &__price {
    font-size: 18px;
    color: var(--dark);
    margin-bottom: 5px;
  }

  &__actions {
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    @include flex(center, space-between);
  }

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-40px);
  }

  &:hover &__actions {
    opacity: 1;
    visibility: visible;
  }

  &__modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    @include flex(center, center);
    transition: 300ms;
    z-index: 9;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &__mark {
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: move;
    }

    &__content {
      position: relative;
      width: 60%;
      height: 60%;
      border-radius: 4px;
      overflow: hidden;

      .product-view {
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 9;
        background-color: var(--white);
        padding: 20px;
        height: 100%;
      }

      &__close {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.new-arrival {
  margin-bottom: 50px;
}

.product-view {
  &__title {
    margin-bottom: 20px;
  }

  &__price {
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    margin-bottom: 30px;

    &__quantity {
      display: flex;
      margin-right: 20px;
      border: 1px solid;
      border-radius: 4px;
      * {
        display: inline;
      }

      &--input {
        height: 38px;
        border-width: 0 1px 0 1px;
        width: 60px;
        text-align: center;
        line-height: 38px;
      }
      &--minus,
      &--plus {
        height: 38px;
        width: 40px;
        display: inline-block;
        font-size: 0px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;

        i {
          font-size: 16px;
        }
      }
    }

    &__btn {
      margin-bottom: 0px;
    }
  }

  &__categories {
    margin-bottom: 10px;
    &__item {
      display: inline;
      margin-right: 10px;
    }
  }

  &__tags {
    &__item {
      display: inline;
      margin-right: 10px;
    }
  }
}

.products__filter__widget {
  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    max-width: 80%;
    height: 100%;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    background-color: var(--white);
    padding-top: 40px;
    padding-left: 20px;
    transform: translateX(-300px);
    transition: 300ms;
    z-index: 15;
    background-color: var(--white);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);

    &.active {
      transform: translateX(0px);
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background-color: var(--red);
    color: var(--white);
  }
}
